
/* medium screen  */
@media screen and (min-width: 641px) and (max-width: 1075px) {

    .container {
        width: 95%;
    }
    .w-md-100 {
        width: 100%;
    }
    .w-md-50 {
        width: 50%;
    }
    
     .nav-bar .nav-links {
        display: none;
    }

    .nav-bar .nav-btn {
        display: none;
    }


    .menu {
        display: block;
    }

    .hero-pic {
        margin-top: 50px;
        transform: rotate(0);
    }
    .hero-pic:hover {
    transition: all 0.4s ease;
    transform: translate(-1px ,-1px); 
    }
    
    .articles-cont {
        gap: 20px;
    }

    .lower-rebellion .left-part {
        width: 100%;
    }

    .upper-footer {
        gap: 60px;
    }

    .inner-div {
        gap: 20px;
        justify-content: center;
    }
}

/* mobile screen  */
@media screen and (max-width: 640px) {
    
    .container {
        width: 95%;
    }
    .nav-bar .nav-links {
        display: none;
    }
    .nav-bar .nav-btn {
        display: none;
    }
    .menu {
        display: block;
    }
    .w-s-100 {
        width: 100%;
    }
    .w-s-95 {
        width: 95%;
    }
    .w-s-50 {
        width: 50%;
    }
    .fs-esm-9 {
        font-size: 9px;
    }

    .fs-esm-11 {
        font-size: 11px;
    }

    .fs-esm-12 {
        font-size: 12px;
    }

    .fs-esm-14 {
        font-size: 14px;
    }

    .fs-esm-15 {
        font-size: 15px;
    }

    .fs-esm-18 {
        font-size: 18px;
    }

    .fs-esm-20 {
        font-size: 20px;
    }

    .fs-esm-23 {
        font-size: 23px;
    }

    .fs-esm-24 {
        font-size: 24px;
    }

    .fs-esm-27 {
        font-size: 27px;
    }

    .fs-esm-30 {
        font-size: 30px;
    }

    .fs-esm-36 {
        font-size: 36px;
    }

    .fs-esm-48 {
        font-size: 48px;
    }

    .fs-esm-72 {
        font-size: 72px;
    }

    /* line heights */

    .lh-esm-12 {
        line-height: 12px;
    }

    .lh-esm-15 {
        line-height: 15px;
    }

    .lh-esm-16 {
        line-height: 16px;
    }

    .lh-esm-18 {
        line-height: 18px;
    }

    .lh-esm-20 {
        line-height: 20px;
    }

    .lh-esm-21 {
        line-height: 21px;
    }

    .lh-esm-22 {
        line-height: 22px;
    }

    .lh-esm-24 {
        line-height: 24px;
    }

    .lh-esm-27 {
        line-height: 27px;
    }

    .lh-esm-28 {
        line-height: 28px;
    }

    .lh-esm-29 {
        line-height: 29px;
    }

    .lh-esm-30 {
        line-height: 30px;
    }

    .lh-esm-32 {
        line-height: 32px;
    }

    .lh-esm-33 {
        line-height: 33px;
    }

    .lh-esm-36 {
        line-height: 36px;
    }

    .lh-esm-40 {
        line-height: 40px;
    }

    .lh-esm-48 {
        line-height: 48px;
    }

    .lh-esm-68 {
        line-height: 68px;
    }

    .lh-esm-90 {
        line-height: 90px;
    }

    .pad-24 {
        padding: 24px;

    }


    .left-hero h2 {
        font-size: 54px;
    }
    .left-hero .raw {
        font-size: 18px;
    }
    .hero-pic {
        transform: rotate(0);
        
    }
    .hero-pic:hover {
        transform: rotate(0) translate(-2px ,-2px);
    }
    .container .hero-pop {
        font-size: 12px;
    }
    .latest-art .fresh {
        display: none;
    }
    .latest-art h3 {
        font-size: 36px;
        text-align: center;
    }

    .card .card-content {
        flex-wrap: wrap;
    }

    .right-content h4 {
        font-size: 18px;
    }
    .right-content p {
        font-size: 14px;
    }
    .right-content .info {
        flex-wrap: wrap;
        gap: 0;
    }
    .right-content .info span {
        font-size: 11px;
        width: 100%;
    }
    .articles-left .articles-btn {
        font-size: 15px;
    }

    .articles-right {
        margin-top: 20px;
    }

    .meet-cont .upper-part h3 {
        font-size: 36px;
    }
    .meet-cont .upper-part p {
        font-size: 15px;
    }
    .meet-card h4 {
        font-size: 23px;
    }
    .meet-card .p-1 {
        font-size: 12px;
    }
    .meet-card .p-2 {
        font-size: 12px;
    }
    .meet-card .socials li a {
        width: 36px;
        height: 36px;
    }
    .meet-card .meet-pic img {
        width: 100px;
        height: 100px;
    }
    .meet-pic > span {
        font-size: 9px;
    }
    .meet-card {
        padding: 24px;
    }

    .rebellion-cont .upper-rebellion {
        margin: auto;
        text-align: center;
    }
    
    .rebellion-cont .upper-rebellion h3 {
    font-size: 36px;
    }
    .rebellion-cont .upper-rebellion p {
    font-size: 15px;
    }

    .lower-rebellion .left-part {
        width: 100%;
    }

    .lower-rebellion .left-part h4 {
        font-size: 27px;
        
    }

    .lower-rebellion .left-part p {
        font-size: 15px;
        
    }

    .lower-rebellion .left-part .adv .adv-1 .adv-p {
        font-size: 14px;
    }
    .lower-rebellion .left-part .adv .adv-2 .adv-p {
        font-size: 14px;
    }
    .lower-rebellion .left-part .adv .adv-3 .adv-p {
        font-size: 14px;
    }
    .lower-rebellion .left-part .adv .adv-4 .adv-p {
        font-size: 14px;
    }

    .rebellion-btn {
        font-size: 18px;
        padding: 18px 28px;
    }
    

    .right-part {
        padding: 30px;
    }
    .right-part h5 {
        font-size: 23px;
    }

    .rev {
        padding: 12px 18px;
    }
    .rev > p {
        font-size: 14px;
        line-height: 22px;
    }

    .person .person-info h4 {
        font-size: 14px;
    }
    .person .person-info p {
        font-size: 11px;
    }
    .rev .person .person-pic {
    width: 36px;
    height: 36px;
    }

    /* footer  */

    .first-f-card .pencil span {
        width: 44px;
        height: 44px;
    }

    .first-f-card .pencil h1 {
        font-size: 23px;
    }

    .first-f-card p {
        font-size: 14px;
    }
    .catego h4{
        font-size: 18px;
    }
    .catego .catego-list li a {
        font-size: 14px;
    }
    .newsletter h4 {
        font-size: 18px;
    }
    .newsletter p {
    font-size: 14px;
    }
    .sub-form input {
    font-size: 14px;
    }
    .sub-form button {
    font-size: 14px;
    }
    .inner-div p {
    font-size: 14px;
    margin-bottom: 15px;
    }
    .policy a {
        font-size: 12px;
    }
}









