*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: EXO, sans-serif;
}

body {
    overflow-x: hidden;
}

::selection {
    background: #FFD15B;
    color: #000;
}

/* global styles */
.flex {
    display: flex;
}

.container {
    width: 70%;
    margin: auto;
}
/* .////////////////////////////////////////////////////////// */
/* .//////////////////////Navbar section ///////////////////// */
/* .////////////////////////////////////////////////////////// */

.nav-cont {
    padding-block: 16px;
}

nav {
    position: fixed;
    z-index: 50;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
a , ul {
    text-decoration: none;
    list-style: none;
}

.nav-bar {
    padding: 12px 24px;
    border: solid #000 2px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
}


.nav-logo {
    color: #111111;
    font-size: 30px;
    font-weight: 800;
    line-height: 26px;

}

.nav-logo span {
    color: #FF6900;
}

.nav-links {
    gap: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

}

.nav-links li {
    gap: 20px;
    align-items: center;
}

.nav-links li img {
    width: 15px;
    height: 15px;
}

.nav-links li a {
    color: #000;
    transition: all 0.2s;
}

.nav-links li:hover a {
    color: #FF7A50;
}

.nav-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 24px;
    padding: 8px 16px;
    background-color: #FFD15B;
    border: #000 2px solid;
    transition: all 0.2s;
}

.nav-btn:hover {
    transform: translate(4px, 4px);
}

.nav-btn a {
    color: #000;
}

/*./////////////////////////////////////// Menu */

.menu a {
    color: #000;
}

.menu {
    display: none;
}

.Menu-btn-out {
    width: 42px;
    height: 42px;
    font-weight: 900;
    font-size: 24px;
    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: 3px 3px #000;
    transition: all .2s;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.Menu-btn-out:hover {
    transform: translateY(-3px);
}

.Menu-btn-out:active {
    transform: translateY(0);
}

/* Main Menu */

.menu-content-out {
    position: fixed;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    width: 100vw;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}

.menu-content-out:target {
    opacity: 1;
    pointer-events: auto;
}

.menu-content {
    background-color: #FFFFFF;
    height: 100vh;
    width: max-content;
    position: absolute;
    right: 0;
    padding: 18px;
    border-left: 4px solid #000;
    transform: translateX(100%);
    transition: transform .5s ease;
}


.menu-content-out:target .menu-content {
    transform: translateX(0);
}

/* Menu Header */

.menu-header {
    padding-block: 9px;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    border: #000 solid;
    border-width: 2px 0;
    margin-bottom: 24px;
}

.menu-header h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
}

.Menu-btn-in {
    width: 42px;
    height: 42px;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    user-select: none;
    cursor: pointer;
}

#hero:target~nav .menu-content-out {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
}

#articles:target~nav .menu-content-out {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
}

#authors:target~nav .menu-content-out {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
}

#community:target~nav .menu-content-out {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
}

.Menu-btn-in:hover {
    background-color: #FFE2E2;
    color: #FC794F;
}

/* Menu List */

.menu-list {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.menu-list li,
.menu-list li a {
    transition: all 0.2s;
}

.menu-list li:hover {
    transform: translateY(-3px);
}

.menu-list li:hover a {
    color: #FF7A50;
}

/* Menu Bottom */

.menu-btm {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    background-color: #ffd15b;
    box-shadow: 3px 3px #000;
    border: 4px solid #000;
    padding-block: 9px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.2s;
}

.menu-btm img {
    width: 20px;
    /* w: 20px; */
}

.menu-btm:hover {
    transform: translateY(-3px);
}


/* .///////////////////////////////////////////////////////// */
/* ./////////////////////HERO SECTION //////////////////////  */
/* .///////////////////////////////////////////////////////// */

.hero-cont {
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 4 ;
    gap: 60px;
}


.hero-section {
    background-color: #FFF085;
    padding-block: 141px 64px;
    border-bottom: 4px solid #000000;
    position: relative;
}

/* left hero  */

.left-hero {
    width: 50%;
    z-index: 1;
}



/* upper part  */
.left-hero .fire{
    width: fit-content;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 20px;
    background-color: black;
    color: white;
    transform: rotate(-2deg);
    box-shadow: 4px 4px black;
    margin-bottom: 21px;
}

/* middle part  */

.left-hero h2 {
    flex-direction: column;
    width: 85%;
    font-size: 72px;
    font-weight: 900;
    color: #111111;
    text-shadow: 3px 3px #33301B;
    
}
.left-hero h2 .t-1 {
    color: #E7000B;
    text-shadow: 3px 3px #33301B;
}
.left-hero h2 .t-2 {
    color: #155DFC;
    text-shadow: 3px 3px #33301B;
}

/* paragraph part  */

.left-hero .raw {
    width: fit-content;
    font-size: 24px;
    font-weight: 500;
    padding: 16px;
    border: 2px solid #000000;
    box-shadow: 3px 3px #000000;
    margin-block: 32px 38px;
    background-color: white;
    line-height: 32px;
}

/* buttons part  */
.left-hero .hero-btns {
    gap: 22px;
    width: 85%;
    position: relative;
    left: 6px;
}

.btn-1 {
    align-items: center;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
    background-color: #000000;
    color: #F2F2F2;
    border: 2px solid #000000;
    box-shadow: 6px 6px #000000;
    transition: all 0.15s ease-in-out;
    transform: translate(-6px , -6px);

}

.btn-2 {
    align-items: center;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
    background-color: #F2EFFD;
    color: #0D0D0D;
    box-shadow: 6px 6px #000000;
    border: 4px solid #000000;
    transition: all 0.15s ease-in-out;
    transform: translate(-6px , -6px);

}



.left-hero .hero-btns .btn-1 img {
    width: 26px;
    height: 26px;
    margin-right: 8px;
}
.left-hero .hero-btns .btn-2 img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

.btn-1:hover {
    transform: translate(0 , 0);
    box-shadow: 0px 0px 0px transparent;
}

.btn-2:hover {
    transform: translate(0 , 0);
    box-shadow: 0px 0px 0px transparent;
}

/* .////////////////////right hero  */

.hero-pic {
    width: 600px;
    height: 400px;
    overflow: visible;
    top: 80px;
    left: 50px;
    border: 4px solid #000000;
    box-shadow: 6px 6px #000000;
    transform: translate(2px , 2px) rotate(2deg);
    transition: all 0.4s ease;

}

.hero-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.hero-pic:hover {
    transition: all 0.4s ease;
    transform: translate(-1px ,-1px) rotate(2deg); 
    
}

.container .hero-pop {
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px;
    background-color: #FB2C36;
    border: 2px solid #000000;
    box-shadow: 3px 3px #000000;
    color: #FFFFFF;
    position: absolute;
    transform: rotate(12deg);
    top: -20px;
    right: -15px;
}

.fly-squares-1 {
    position: absolute;
    inset: 0;
    /* z-index: -1; */
}

.square-1 {
    width: 128px;
    height: 128px;
    background-color: rgb(0, 0, 0, 0.1);
    position: absolute;
    top: 50px;
    left: 50px;
    transform: rotate(15deg);
}

.square-2 {
    width: 95px;
    height: 95px;
    background-color: rgb(255, 0, 0, 0.1);
    position: absolute;
    top: 160px;
    right: 80px;
    transform: rotate(45deg);
}
.square-3 {
    width: 112px;
    height: 112px;
    background-color: rgb(0, 128, 0, 0.1);
    position: absolute;
    bottom: 80px;
    left: 33%;
    transform: rotate(45deg);
    z-index: 0;
}
/* .//////////////////////////////////////////////// */
/* .////////////// articles section .//////////////*/
/* .///////////////////////////////////////////////// */

.articles-section {
    padding-block: 82px;
    background-color: #F5F5F5;
    overflow: visible;
    border-bottom: 4px solid #000000;
}
.articles-cont {
    justify-content: space-between;
    align-items:flex-start;
    padding-right: 10px;
    flex-wrap: wrap;
}

/* .///////////////////////left part  */

.articles-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    
}

/* first block  */
.latest-art {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    
}

.latest-art h3 {
    font-size: 48px;
    font-weight: 900;
    color: #000000;

}

.latest-art .fresh {
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px;
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 4px 4px #000000;
    transform: rotate(2deg);
}

/* second block (card-1) */


.card {
    border: 4px solid #000000;
    padding: 32px;
    box-shadow: 4px 4px #000000;
    background-color: #FFFFFF;
    position: relative;
    transition: all 0.2s ease;
    margin-bottom: 32px;

}

.card:hover{
    transform: translate(-2px , -2px);
    box-shadow: 6px 6px #000000;
    transition: all 0.2s ease;
}

.card .card-content {
    display: flex;
    gap: 24px;
}

.card .card-content .left-content .card-pic {

    width: 160px;
    height: 128px;
    border: 2px solid #000000;
    
}

.card .card-content .left-content .card-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card .card-content .left-content span {
    font-size: 12px;
    font-weight: 700;
    padding: 4px 8px;
    background-color: #FB2C36;
    color: #FFFFFF;
    border: 2px solid #000000;
    transform: rotate(10deg);
    position: absolute;
    top: 26px;
    left: 150px;
}

.card .card-content .right-content .tech {
    width: fit-content ;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 12px;
    background-color: #FFDF20;
    color: #000000;
    box-shadow: 3px 3px #000000;
    border: 2px solid #000000;
    transform: rotate(-1deg);

}

.right-content h4 {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    margin-block: 11px 12px;
    transition: all 0.1s ease;
}
/* .///////////////////////hover/////////////  */

.card:hover .right-content h4 {
    color: #E7000B;
    transition: all 0.2s ease;
}
/* .///////////////////////hover/////////////  */


.right-content p {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 16px;
    line-height: 29px;
}


.right-content .info {
    gap: 24px;
    
}

.right-content .info span {
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    display: flex;
    align-items: center;
}

.right-content .info span img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.right-content .info .c-red {
    color: #E7000B;
}

/* third block (card-2) */

.card-2 .card-content .left-content span {
    width: fit-content;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 10px;
    background-color: #2B7FFF;
    color: #FFFFFF;
    border: 2px solid #000000;
    transform: rotate(-10deg);
    position: absolute;
    top: 26px;
    left: 150px;
}

.card-2 .card-content .right-content .des {
    width: fit-content ;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 12px;
    background-color: #7BF1A8;
    color: #000000;
    box-shadow: 3px 3px #000000;
    border: 2px solid #000000;
    transform: rotate(1deg);

}

.card-2:hover .right-content h4 {
    color: #155DFC;
    transition: all 0.2s ease;
}

/* fourth block (card-3) */

.card-3 .card-content .left-content span {
    width: fit-content;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 10px;
    background-color: #AD46FF;
    color: #FFFFFF;
    border: 2px solid #000000;
    transform: rotate(45deg);
    position: absolute;
    top: 26px;
    left: 145px;
}


.card-3 .card-content .right-content .culture {
    width: fit-content ;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 12px;
    background-color: #FDA5D5;
    color: #000000;
    box-shadow: 3px 3px #000000;
    border: 2px solid #000000;
    transform: rotate(-1deg);

}
.card-3:hover .right-content h4 {
    color: #9810FA;
    transition: all 0.2s ease;
}

/* articles left button in the bottom */
.articles-left .articles-btn {
    width: fit-content;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 48px;
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 6px 6px #000000;
    justify-self: center;
    align-self: center;
    margin-top: 18px;
    transition: all 0.15s ease-in-out;
    transform: translate(-6px , -6px);

}

.articles-left .articles-btn:hover {
    transform: translate(0 , 0);
    box-shadow: none;
}


/* .//////////////////right part ////////////// */

.articles-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 84px;
}


/* ./////////////////first block  */ 

.trending {
    padding: 36px;
    border: 4px solid #000000;
    box-shadow: 6px 6px #000000;
    background-color: #FFFFFF;;
    margin-bottom: 32px;
}

.trending h4 {
    font-size: 30px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 24px;

    
}

/* .////////////////line 01 */

.trending-content .line {
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    cursor: pointer;
}

.trending-content .line .inner-content {
    height: 100%;
}

.trending-content .line-1:hover .inner-content h5 {
    color: #E7000B;
    transition: all 0.2s ease;
}

.trending-content .line-1 span {
    font-size: 36px;
    font-weight: 900;
    color: #FB2C36;
    display: flex;
    align-items: top;
    width: fit-content;
    position: relative;
    top: -6px;
     
}

.trending-content .line-1 .inner-content h5 {
    font-size: 18px;
    font-weight: 700;
    color: #0D0D0D;
    margin-bottom: 4px;
}

.trending-content .line-1 .inner-content p {
    font-size: 14px;
    font-weight: 400;
    color: #525252;
}

/*  .//////////////////line 02 */

.trending-content .line-2 span {
    font-size: 36px;
    font-weight: 900;
    color: #2B7FFF;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    top: -6px;
    
}

.trending-content .line-2:hover .inner-content h5 {
    color: #155DFC;
    transition: all 0.2s ease;
}

.trending-content .line-2 .inner-content h5 {
    font-size: 18px;
    font-weight: 700;
    color: #0D0D0D;
    margin-bottom: 4px;
}

.trending-content .line-2 .inner-content p {
    font-size: 14px;
    font-weight: 400;
    color: #525252;
}

/* .///////////////////////line 03  */

.trending-content .line-3 span {
    font-size: 36px;
    font-weight: 900;
    color: #AD46FF;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    top: -6px;
}

.trending-content .line-3:hover .inner-content h5 {
    color: #AD46FF;
    transition: all 0.2s ease;
}

.trending-content .line-3 .inner-content h5 {
    font-size: 18px;
    font-weight: 700;
    color: #0D0D0D;
    margin-bottom: 4px;
}
.trending-content .line-3 .inner-content p {
    font-size: 14px;
    font-weight: 400;
    color: #525252;
}

/* ./////////////////second block (categories) */
.categories {
    padding: 36px;
    border: 4px solid #000000;
    box-shadow: 6px 6px #000000;
    background-color: #FFFFFF;
    
}

.categories h4 {
    font-size: 30px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 24px;

}

.categories .cat-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categories .cat-list .l-1 {
    font-size: 16px;
    font-weight: 700;
    color: #0D0D0D;
    background-color: #fef9c2;
    padding: 12px 16px;
    border: 2px solid #000000;
    transition: all 0.2s ease;
}

.categories .cat-list .l-1:hover {
    background-color: #FFDF20;
    transition: all 0.2s ease;
    color: #000000;
    transform: translate(-4px , -4px);
    box-shadow: 6px 6px #000000;
}

.categories .cat-list .l-2 {
    font-size: 16px;
    font-weight: 700;
    color: #0D0D0D;
    background-color: #dcfce7;
    padding: 12px 16px;
    border: 2px solid #000000;
    transition: all 0.2s ease;
}

.categories .cat-list .l-2:hover {
    background-color: #7BF1A8;
    transition: all 0.2s ease;
    color: #000000;
    transform: translate(-4px , -4px);
    box-shadow: 6px 6px #000000;
}

.categories .cat-list .l-3 {
    font-size: 16px;
    font-weight: 700;
    color: #0D0D0D;
    background-color: #fce7f3;
    padding: 12px 16px;
    border: 2px solid #000000;
    transition: all 0.2s ease;
}

.categories .cat-list .l-3:hover {
    background-color: #FDA5D5;
    transition: all 0.2s ease;
    color: #000000;
    transform: translate(-4px , -4px);
    box-shadow: 6px 6px #000000;
}

.categories .cat-list .l-4 {
    font-size: 16px;
    font-weight: 700;
    color: #0D0D0D;
    background-color: #dbeafe;
    padding: 12px 16px;
    border: 2px solid #000000;
    transition: all 0.2s ease;
}

.categories .cat-list .l-4:hover {
    background-color: #8EC5FF;
    transition: all 0.2s ease;
    color: #000000;
    transform: translate(-4px , -4px);
    box-shadow: 6px 6px #000000;
}

.categories .cat-list .l-5 {
    font-size: 16px;
    font-weight: 700;
    color: #0D0D0D;
    background-color: #f3e8ff;
    padding: 12px 16px;
    border: 2px solid #000000;
    transition: all 0.2s ease;
}

.categories .cat-list .l-5:hover {
    background-color: #DAB2FF;
    transition: all 0.2s ease;
    color: #000000;
    transform: translate(-4px , -4px);
    box-shadow: 6px 6px #000000;
}

.all-line {
    cursor: pointer;
}

/* ./////////////////////////////////////////////// */
/* .//////////////  meet section ////////////////// */
/* ./////////////////////////////////////////////// */


.meet-section {
    padding-block: 80px;
    background-color: #FFD230;
    position: relative;
    border-bottom: 4px solid black;
    
}

.meet-cont {
    padding-inline: 24px;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 4;
}

/* ./////////////////// upper part .///////////////  */

.meet-cont .upper-part {
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.meet-cont .upper-part h3 {
    font-size: 48px;
    font-weight: 900;
    

}

.meet-cont .upper-part p {
    font-size: 20px;
    font-weight: 600;
    color: #52524D;
    margin-block: 14px 15px;
}

.meet-cont .upper-part .empty {
    width: 128px;
    height: 8px;
    background-color: #000000;
    transform: rotate(1deg);
}

/*.///////////////////////////// lower part  */

.lower-part {
    gap: 32px;
    flex-wrap: wrap;
}


/*  general card   */
.meet-card {
    width: calc(33.3333% - (64px / 3));
    border: 4px solid black ;
    box-shadow: 6px 6px #000000;
    padding: 36px;
    transition: all 0.2s ease;
    position: relative;
    
}

.meet-card .p-1 {
    font-size: 16px;
    font-weight: 700;
    color: #525252;
    margin-bottom: 16px;
} 
.meet-card .p-2 {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 26px;
    margin-bottom: 24px;
}

.meet-card .socials {
    justify-content: center;
    gap: 16px;
}

.meet-card .socials li {
    list-style: none;
    
}

.meet-card .socials li a {
    width: 48px;
    height: 48px;
    border: 2px solid #000000;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.meet-card .socials .twitter a:hover {
    background-color: #1DA1F2;
    box-shadow: 6px 6px #000000;
    transform: translate(-4px , -4px);
    transition: all 0.2s ease;
    
}
.meet-card .socials .linkedin a:hover {
    background-color: #155DFC;
    box-shadow: 6px 6px #000000;
    transform: translate(-4px , -4px);
    transition: all 0.2s ease;
    
}
.meet-card .socials .instagram a:hover {
    background-color: #E60076;
    box-shadow: 6px 6px #000000;
    transform: translate(-4px , -4px);
    transition: all 0.2s ease;
    
}

.meet-card .socials li a img {
    width: 20px;
    height: 20px;
    
}

.meet-card .meet-pic {
    width: 100%;
    margin-bottom: 24px;
    position: relative;
}
.meet-card .meet-pic img {
    width: 140px;
    height: 140px;
    border: 4px solid #000000;
    display: block;
    margin: auto;
}

.meet-card h4 {
    font-size: 30px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 8px;

}


/* .//////////////////// card one  ////////////// */
.meet-c1 {
    background-color: #FEF9C2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.meet-c1:hover {
    transform: translate(-2px, -2px);
    transition: all 0.2s ease-in-out;
}
.meet-c1:hover h4 {
    color: #E7000B;
}


.meet-c1 span {
    font-size: 12px;
    font-weight: 700;
    padding: 4px 8px;
    background-color: #FB2C36;
    color: #FFFFFF;
    border: 2px solid #000000;
    transform: rotate(10deg);
    position: absolute;
    top: -10px;
    right: -15px;
}




/* .//////////////   card two  ///////////////////  */

.meet-c2 {
    background-color: #DBFCE7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.meet-c2:hover {
    transform: translate(-2px, -2px);
    transition: all 0.2s ease-in-out;
}

.meet-c2:hover h4 {
    color: #155DFC;
}

.meet-c2 span {
    font-size: 12px;
    font-weight: 700;
    padding: 4px 8px;
    background-color: #2B7FFF;
    color: #FFFFFF;
    border: 2px solid #000000;
    transform: rotate(-10deg);
    position: absolute;
    top: -10px;
    right: -15px;
}


/* .//////////////////card three /////////////////// */
.meet-c3 {
    background-color: #FCE7F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.meet-c3:hover {
    transform: translate(-2px, -2px);
    transition: all 0.2s ease-in-out;
}

.meet-c3:hover h4 {
    color: #9810FA;
}

.meet-c3 span {
    font-size: 12px;
    font-weight: 700;
    padding: 4px 8px;
    background-color: #AD46FF;
    color: #FFFFFF;
    border: 2px solid #000000;
    transform: rotate(45deg);
    position: absolute;
    top: -10px;
    right: -15px;
}

/* flying squares in meet section  */



.fly-squares-1 .fly-1 {
    width: 128px;
    height: 128px;
    background-color: rgb(255, 0, 0, 0.1);
    transform: rotate(-10deg);
    position: absolute;
    top: 700px;
    left: 50px;
}

.fly-squares-1 .fly-2 {
    width: 160px;
    height: 160px;
    background-color: rgb(0, 0, 0, 0.1);
    transform: rotate(45deg);
    position: absolute;
    top: 40px;
    right: 50px;
}

/* .//////////////////////////////////////////////// */
/*.///////////////// rebellion section ///////////// */
/* .//////////////////////////////////////////////// */

.rebellion-section {
    background-color: #F5F5F5;
    padding-block: 82px;

}

/*.///////////////// rebellion-cont  */

.rebellion-cont {
    padding-inline: 24px;
    
}

/* .//////////////////////upper rebelion  */

.upper-rebellion {
    margin-bottom: 64px;
}


.rebellion-cont .upper-rebellion {
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.rebellion-cont .upper-rebellion h3 {
    font-size: 48px;
    font-weight: 900;
    

}

.rebellion-cont .upper-rebellion p {
    font-size: 20px;
    font-weight: 600;
    color: #52524D;
    margin-block: 9px 15px;
}

.rebellion-cont .upper-rebellion .empty {
    width: 128px;
    height: 8px;
    background-color: #000000;
    transform: rotate(-1deg);
}


/* .////////////////////lower-rebellion  */
.lower-rebellion {
    gap: 64px;
    flex-wrap: wrap;
}


/*.///////////////////// left part  */
.lower-rebellion .left-part {
    width: calc(50% - (64px / 2));
    margin-top: 41px;
    
}

.lower-rebellion .left-part h4 {
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    color: #000000;
}

.lower-rebellion .left-part p {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 32.5px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 16px;
    margin-block: 32px;
    border: 2px solid black;
    box-shadow: 4px 4px black ;
}

/* .////////////////////////adv .////////////////////  */

.advan {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

/*.////////////////////// adv-1  */

.lower-rebellion .left-part .advan .adv-1 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.lower-rebellion .left-part .advan .advan-1 .advan-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #FB2C36;
    border: 2px solid black;
}

.lower-rebellion .left-part .advan .advan-1 .advan-pic img {
    
    width: 50%;
}

.lower-rebellion .left-part .advan .advan-1 .advan-p {
    font-size: 18px;
    font-weight: 600;

}

/* .///////////////////////////adv-2  */

.lower-rebellion .left-part .advan .advan-2 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 16px;
}

.lower-rebellion .left-part .advan .advan-2 .advan-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #2B7FFF;
    border: 2px solid black;
}

.lower-rebellion .left-part .advan .advan-2 .advan-pic img {
    width: 50%;
}

.lower-rebellion .left-part .advan .advan-2 .advan-p {
    font-size: 18px;
    font-weight: 600;
}

/* ./////////////////////////adv-3  */

.lower-rebellion .left-part .advan .advan-3 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 16px;
}

.lower-rebellion .left-part .advan .advan-3 .advan-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #AD46FF;
    border: 2px solid black;
}

.lower-rebellion .left-part .advan .advan-3 .advan-pic img {
    width: 50%;
}

.lower-rebellion .left-part .advan .advan-3 .advan-p {
    font-size: 18px;
    font-weight: 600;
}


/* .//////////////////////////adv-4  */

.lower-rebellion .left-part .advan .advan-4 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 16px;
}

.lower-rebellion .left-part .advan .advan-4 .advan-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #00C950;
    border: 2px solid black;
}

.lower-rebellion .left-part .advan .advan-4 .advan-pic img {
    width: 50%;
}

.lower-rebellion .left-part .advan .advan-4 .advan-p {
    font-size: 18px;
    font-weight: 600;
}

/* .////////////////////// rebellion button  */

.rebellion-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px 48px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 6px 6px black;
    transform: translate(-6px , -6px);
    transition: all 0.3s ease;
}

.rebellion-btn:hover {
    transition: all 0.3s ease;
    transform: translate(0 , 0);
    box-shadow: none;
}

.rebellion-btn img {
    width: 30px;
    height: 30px;
}

/* ./////////////////// righ part ////////////////  */

 .right-part {
    width: calc(50% - (64px / 2));
    border: 4px solid black;
    background-color: #FFFFFF;
    box-shadow: 6px 6px;
    padding: 44px;
}

.right-part h5 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 32px;
}

/*  .////////////////////// general card   */

.rev {
    padding: 18px 18px 18px 26px;
    border: 2px solid black;

}

.rev > p {
    font-size: 18px;
    font-weight: 600;
    line-height: 29.5px;
    margin-bottom: 16px;
}

.rev .person {
    gap: 16px;
    display: flex;
    align-items: flex-start;
    
}

.rev .person .person-pic {
    width: 48px;
    height: 48px;
    border: 2px solid black;
}




.person .person-info h4{
    font-size: 18px;
    font-weight: 700;
}

.person .person-info p {
    font-size: 14px;
    font-weight: 400;
    color: #525252;
}

/* ./////////////////////////// card 2 */

.rev-2 {
    background-color: #EFF6FF;
    margin-block: 32px;
}


/* ./////////////////////////////////////////////////////// */
/* ./////////////////////////// footer .///////////////////  */
/* .//////////////////////////////////////////////////////// */
footer {
    background-color: #000000;
    padding-block: 80px;
}


/* .//////////////////////// upper footer ////////////////// */
.upper-footer {
    padding-inline: 24px;
    gap: 48px;
    flex-wrap: wrap;
}

.footer-cont {
    flex-direction: column;
    gap: 48px;
}

/* .///////////////// first part */

.first-f-card {
    width: calc(40% - (96px / 3));
}

.first-f-card .pencil {
    margin-bottom: 32px;
    align-items: center;
    gap: 16px;

}

.first-f-card .pencil span {
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-f-card .pencil span img {
    width: 30px;
    height: 30px;
}

.first-f-card .pencil h1 {
    font-size: 30px;
    font-weight: 900;
    color: white;
}

.first-f-card p {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.25px;
    color: white;
}

/* .//////////////////////////// middle part  */
.catego {
    width: calc(20% - (96px / 3));
    flex-direction: column;
    gap: 32px;
}

.catego h4 {
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.catego .catego-list {
    gap: 16px;
    list-style: none;
    flex-direction: column;
}

.catego .catego-list li a {
    font-size: 18px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    color: white;
}
.catego .catego-list li {
    cursor: pointer;
}

.catego .catego-list li:hover a {
    color: #FFDF20;
}

/* .///////////////////////////// end part  */

.newsletter {
    width: calc(40% - (96px / 3));
    flex-direction: column;
    gap: 32px;
    flex-grow: 1;
}

.newsletter h4 {
    font-size: 24px;
    font-weight: 900;
    color: white;

}

.newsletter p {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.sub-form {
    flex-direction: column;
    gap: 16px;
}

.sub-form input {
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    color: #A1A1A1;
    background-color: #000000;
    border: 1px solid white;
}

.sub-form input:focus {
    outline: none;
    border-color: #ffdf20;
}

.sub-form button {
    font-size: 18px;
    font-weight: 700;
    border-right: 4px solid #CA9F00 ;
    border-bottom: 4px solid #CA9F00 ;
    border-top:none ;
    border-left: none;
    padding: 16px;
    background-color: #ffdf20;
    transition: all 0.3s ease;
}

.sub-form button:hover {
    background-color: #FDC700;
    transform: translate(4px, 4px);
    transition: all 0.3s ease;
}

/*.//////////////////// lower part in footer  */

.lower-footer {
    border-top: 4px solid white;
    align-items: end;
}

.inner-div {
    width: 100%;
    margin-top: 36px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inner-div p {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.policy {
    gap: 32px;
}

.policy a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: all 0.2s ease;
}

.policy a:hover {
    color: #ffdf20;
    transition: all 0.2s ease;
}
